{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}


{% block my_content %}
<div class="row justify-content-center">
    <div class="col-sm">
        <h1 style="font-size:65px; text-align:center; padding-top:50px; padding-left:10px; padding-right:10px;">
            Current match</h1>
        <h1 style="text-align:center; font-size:120px; margin-top: -30px; margin-bottom: -20px;">{{context.current}}
        </h1>

        <h1 style="font-size:65px; text-align:center; padding-top:30px; padding-left:10px; padding-right:10px;">
            Next match</h1>
        <h4 style="text-align:center {{context.next_style}}">{{context.next_color}}</h4>
        <h1 style="text-align:center; font-size:120px; margin-top: -30px {{context.next_style}}">{{context.next_team}}
        </h1>
        <h4 style="text-align:center; margin-top:-15px {{context.next_style}}">ETA: {{context.next_time}} min</h4>

        <h1 style="font-size:65px; text-align:center; padding-left:10px; padding-right:10px;padding-top: 15px;">
            Current record</h1>
        <h1 style="text-align:center; font-size:120px; margin-top: -30px; margin-bottom: -15px;">{{context.record}}</h1>



    </div>
    <div class="col-sm">
        <h2 style="text-align:center; padding:10px">Upcoming matches</h2>
        <table class="table table-responsive" style="margin:auto; width:75% !important">
            <tr>
                {% for col in context.columns %}
                {% if "Red" in col %}
                <th style="color:crimson; text-align: center;">{{col}}</th>
                {% elif "Blue" in col %}
                <th style="color:dodgerblue; text-align: center;">{{col}}</th>
                {% else %}
                <th style="text-align: center;">{{col}}</th>
                {% endif %}
                {% endfor %}
                <th style="text-align: center">Insights</th>
            </tr>
            {% for row in context.rows[::-1] %}
            <tr>
                {% for col, value in context.zip(context.columns, row) %}
                <td style="text-align: center;">


                    {% if "Red" in col %}
                    <span style="color:crimson">
                        {% elif "Blue" in col %}
                        <span style="color:dodgerblue">
                            {% else %}
                            <span>
                                {% endif %}

                                {% if value == context.team %}
                                <span style="font-weight: 1000">
                                    {% else %}
                                    <span>
                                        {% endif %}
                                        {{value}}</span>
                                </span>

                </td>
                {% endfor %}
                <td style="text-align: center;">
                    <form style="display: none" action="playground" method="post">
                        {% for col, value in context.zip(context.columns, row) %}
                        {% if "e" in col %}
                        <select name="{{context.table_fields[col]}}" id="{{context.table_fields[col]}}"
                            required="required" style="width:200px" autocomplete="on">
                            <option value="{{value}}" label="{{value}}" selected="selected">{{value}}</option>
                        </select>
                        {% endif %}
                        {% endfor %}
                        <button type="submit" id="playground"></button>
                    </form>
                    <label style="text-decoration: underline" for="playground">↗</label>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
</div>

{% endblock my_content %}